<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highfive.chajiserver.mapper.CarSpecMapper">

    <select id="findByCarIdx" resultType="com.highfive.chajiserver.dto.CarSpecDTO">
        SELECT * FROM car_spec WHERE car_idx = #{carIdx}
    </select>

    <select id="getAllBrands" resultType="String">
        SELECT DISTINCT car_brand FROM car_spec
    </select>

    <select id="getModelsByBrand" resultType="String">
    SELECT DISTINCT car_model FROM car_spec WHERE car_brand = #{brand}
    </select>

    <select id="getTrimsByModel" resultType="com.highfive.chajiserver.dto.TrimDTO">
    SELECT car_idx, car_trim AS trimName FROM car_spec WHERE car_model = #{model}
    </select>

</mapper>

