<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highfive.chajiserver.mapper.ChargerFeeMapper">

    <select id="findByBusiId" resultType="com.highfive.chajiserver.dto.ChargerFeeDTO">
        SELECT
            busiId,
            bnm,
            fast_member_price AS fastMemberPrice,
            fast_nonmember_price AS fastNonmemberPrice,
            low_member_price AS lowMemberPrice,
            low_nonmember_price AS lowNonmemberPrice
        FROM charger_fee
        WHERE busiId = #{busiId}
            LIMIT 1
    </select>

</mapper>
